# Project exclude paths
/.gradle/
/Problems/Area of a circle/out/
/Problems/Area of a circle/out/production/classes/
/Problems/Evaluate an expression/out/
/Problems/Evaluate an expression/out/production/classes/